dll/vendor/minhook/
dll/vendor/imgui/
injector_exe/obj/Release/ScarsToo.B2C3D4E5.tlog/Cl.items.tlog
injector_exe/obj/Release/ScarsToo.B2C3D4E5.tlog/ScarsToolInjector.lastbuildstate
injector_exe/obj/Release/ScarsToolInjector.exe.recipe
